{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_meta %}
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="fr" http-equiv="content-language">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% block head_meta_site_info %}
  {% endblock %}
  <meta name="description" content="{% block head_meta_description %}{% endblock %}">
  <meta name="keywords" content="{% block head_meta_keywords %}{% endblock %}">
  <meta name="viewport" content="width=device-width">
{% endblock head_meta %}

  {% block head_title %}{% endblock %}

{% block head_css %}
	{{ parent() }}

	{% stylesheets output='css/*.css' filter='cssrewrite'
	'bundles/ledjassaads/css/color.css'
	'bundles/ledjassaads/css/screen.css'  
  'bundles/ledjassaads/css/jquery-ui.css'
	 %}
	 <link media="screen" rel="stylesheet" type="text/css" href="{{ asset_url }}">
	{% endstylesheets %}

	{% stylesheets filter='cssrewrite'
	'bundles/ledjassaads/css/960.css'  
	 %}
	 <link media="all" rel="stylesheet" type="text/css" href="{{ asset_url }}">
	{% endstylesheets %}

	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="stylesheet/ie.css" media="screen" />
	<![endif]-->
{% endblock %}

{% block head_js %}
	{{ parent() }}

    {% javascripts 
    'bundles/ledjassaads/js/jquery-1.8.1.min.js'
    'bundles/ledjassaads/js/jquery-ui-1.8.23.custom.min.js'
    'bundles/ledjassaads/js/shoppica.js'
    'bundles/ledjassaads/js/jquery.validate.js'  
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
{% set routeName = app.request.attributes.get('_route') %}
  {% block body_outer %}
    <body class="s_layout_fixed" {{bp_body_attributes|default('')|raw}}>
      <div id="wrapper">
        {%block body%}
          {%block body_container%}
              <header id="header" class="container_12">
                {% block body_container_header %}
                  <div class="grid_12">
                    <a id="site_logo" href="{{ path('ad_list') }}">Auportdadjame.com - A vous de conclure le marché</a>
                    <div id="site_description">
                      Auportdadjame.com propose un concept simple : cherchez ou passez des annonces gratuites près de chez vous.<br/>
                      {% if nbAdsTotal is defined and nbAdsTotal != 0 %}Vous trouverez forcément l’annonce que vous recherchez parmi <b>{{nbAdsTotal}} annonces.</b>{% endif %}
                    </div>
                    <nav id="categories" class="s_nav">
                      <ul>
                        <li> <a {% if routeName == 'ad_list' or routeName == 'ad_search' %} class="current" {% endif %}
                          href="{{ path('ad_list') }}">Accueil</a>
                        </li>
                        <li> <a {% if routeName == 'ad_add' %} class="current" {% endif %}
                          href="{{ path('ad_add') }}">Deposer une annonce</a>
                        </li>
                        <li> <a {% if routeName == 'ad_list_offers' or routeName == 'ad_show_offers' %} class="current" {% endif %}
                          href="{{ path('ad_list_offers') }}">Toutes les offres</a>
                        </li>
                        <li> <a {% if routeName == 'ad_list_demands' or routeName == 'ad_show_demands' %} class="current" {% endif %}
                          href="{{ path('ad_list_demands') }}">Toutes les demandes</a>
                        </li>
                 {#       <li> <a {% if routeName == 'help' %} class="current" {% endif %}
                          href="{{ path('ad_list') }}">Aide</a>
                        </li> #}
                      </ul>
                    </nav>
                  </div>
                {% endblock %}
              </header>
              {% block body_container_pre_intro %}
              <section id="intro">
                <div id="intro_wrap">
                  <div class="container_12">
                    {% block body_container_intro %}{% endblock %}
                  </div>
                </div>
              </section>
              {% endblock %}
                {% block body_container_main %}{% endblock %}
              <footer id="footer" class="container_12">
                {% block body_container_footer %}
                 {# <div id="footer_categories" class="clearfix">
                    <div class="grid_2">
                      <h2>Electronics</h2>
                      <ul class="s_list_1">
                        <li><a href="">Digital Cameras</a></li>
                        <li><a href="">Home Audio</a></li>
                        <li><a href="">Home Cinema</a></li>
                        <li><a href="">Cell Phones</a></li>
                        <li><a href="">MP3 Players</a></li>
                        <li><a href="">Car-Audio</a></li>
                      </ul>
                    </div>
                    <div class="grid_2">
                      <h2>Computers</h2>
                      <ul class="s_list_1">
                        <li><a href="">Desktops</a></li>
                        <li><a href="">Laptops</a></li>
                        <li><a href="">Monitors</a></li>
                        <li><a href="">Components</a></li>
                        <li><a href="">Software</a></li>
                      </ul>
                    </div>
                    <div class="grid_2">
                      <h2>Clothing</h2>
                      <ul class="s_list_1">
                        <li><a href="">Women's Clothing</a></li>
                        <li><a href="">Men's Clothing</a></li>
                        <li><a href="">Boys</a></li>
                        <li><a href="">Girls</a></li>
                        <li><a href="">Infants and toddlers</a></li>
                      </ul>
                    </div>
                    <div class="grid_2">
                      <h2>Shoes</h2>
                      <ul class="s_list_1">
                        <li><a href="">Women's Shoes</a></li>
                        <li><a href="">Men's Shoes</a></li>
                        <li><a href="">Kids' Shoes</a></li>
                        <li><a href="">Sportswear</a></li>
                      </ul>
                    </div>
                    <div class="grid_2">
                      <h2>Gifts</h2>
                      <ul class="s_list_1">
                        <li><a href="">Perfumes</a></li>
                        <li><a href="">Spirits and Beers</a></li>
                        <li><a href="">Wines</a></li>
                        <li><a href="">Flowers</a></li>
                        <li><a href="">Chocolates and sweets</a></li>
                        <li><a href="">Toys and Games</a></li>
                      </ul>
                    </div>
                    <div class="grid_2">
                      <h2>At home</h2>
                      <ul class="s_list_1">
                        <li><a href="">Furniture</a></li>
                        <li><a href="">Garden</a></li>
                        <li><a href="">Appliances</a></li>
                        <li><a href="">Pet Supplies</a></li>
                        <li><a href="">Tools and Accessories</a></li>
                        <li><a href="">Lighting</a></li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="grid_12 border_eee"></div>
                  </div>
                #}
                  <p class="s_footer_info"><a href="{{ path('legal_info') }}">Informations légales</a>
                                          <a href="{{ path('who_we_are') }}">Qui sommes-nous </a>
                                          <a href="mailto:contact@auportdadjame.com">Contact</a>
                                          <a href="{{ path('operating_rules') }}">Règles de fonctionnement</a>
                                          <a href="{{ path('limit_liability') }}">Limites de responsabilité</a>
                                          <a href="{{ path('cgv') }}">Conditions Générales de Vente</a>
                  </p>   
                  <p class="s_footer_social"><a href ="https://www.facebook.com/auportdadjame" target="_blank">Facebook</a>
                    <a href ="https://twitter.com/auportdadjame" target="_blank">Twitter</a>
                  </p> 
                {% endblock %}
              </footer>
          {%endblock body_container%}
          {% block body_js %}
            {% block body_js_analytics %}
              {% if bp_analytics_id is defined %}
              <script>
                var _gaq=[['_setAccount','{{ bp_analytics_id }}'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                  s.parentNode.insertBefore(g,s)}(document,'script'));
              </script>
              {% endif %}
            {% endblock body_js_analytics %}
          {% endblock body_js %}
        {% endblock body %}
    </div>
    </body>
  {% endblock body_outer %}
