{% extends 'LeDjassaAdsBundle::layout.html.twig' %}

{% block head_title %}Formulaire de dépot d'annonces gratuites - www.auportdadjame.com{% endblock %}
{% block head_meta_site_info %}
  <meta content="noindex,follow" name="robots">
{% endblock %}
{% block body_container_pre_intro %}
	<div class="s_border"></div>
{% endblock %}
{% block body_container_main %}
<div id="content" class="container_16">
	<h2><span class="s_secondary_color">Déposer</span> une annonce</h2>
	lbalblalbalblalbalbalblabblablasfqfqfqfsfqsfkjhqsjkfhqskfhqskjfhqsf
	fsqfsjfqsfjqslfjqslnflsqkjfiejfjoqieflqsghlshfsqfqsnngfvsnvgsnfdsqf
	fsqfvqskjfqmsoifjmljflsvsqldfsqlnslfjslmkf. Règles de diffusion
	<form action="{{ path('ad_add') }}" id="add_form" method="post" {{ form_enctype(form) }}>
	
	{{ form_errors(form) }}
	
	<h3 class="s_add_ad_title_block">Localisation</h3>
	<div class="s_add_ad_block">

		{{ form_errors(form.city.area) }}
		{{ form_label(form.city.area) }}
		{{ form_widget(form.city.area) }}

		{{ form_errors(form.city.name) }}
	  {{ form_label(form.city.name) }}
	  {{ form_widget(form.city.name) }}

	 	{{ form_errors(form.city.quarter.name) }}
	  {{ form_label(form.city.quarter.name) }}
	  {{ form_widget(form.city.quarter.name) }}

	</div>

  <h3 class="s_add_ad_title_block">Categorisation</h3>
  <div class="s_add_ad_block">

		{{ form_row(form.category) }}

		{{ form_errors(form.user_type) }}
	  {{ form_label(form.user_type) }}
	  {{ form_widget(form.user_type) }}

	  {{ form_errors(form.ad_type) }}
	  {{ form_label(form.ad_type) }}
	  {{ form_widget(form.ad_type) }}

		{{ form_row(form.user_type) }}
		{{ form_row(form.ad_type) }}
	
	</div>

  <h3 class="s_add_ad_title_block">Vos informations</h3>
  <div class="s_add_ad_block">

		{{ form_row(form.user_name) }}
		{{ form_row(form.user_email) }}
		{{ form_row(form.user_phone) }}
		{{ form_row(form.user_password) }}

  </div>

  <h3 class="s_add_ad_title_block">Votre annonce</h3>
  <div class="s_add_ad_block">
	{{ form_row(form.title) }}
	{{ form_row(form.description) }}
	{{ form_row(form.price) }}
	{{ form_row(form.picture_ads) }}

	<button type="button" id="add_picture" class="s_button_2">Ajouter une photo</button>

 {{ form_rest(form) }}

 </div>
 <div class="s_add_ad_block">
 		<div id="add_form_validation_info">
		En validant la diffusion de mon annonce, j'accepte les Règles de diffusion et d'utilisation du site auportdabidjan.com <br/>
		et j'autorise auportdabidjan.com à diffuser mon annonce.
		</div>	
 <button class="s_button_1 s_main_color_bgr" type="submit"/>
   <span class="s_text">Publier l'annonce</span>
 </button>
 </div>
</form>
</div>
{% endblock %}
{% block body_js %}
	{{ parent() }}
	<script type="text/javascript">

		$(document).ready(function() {


		// set default form Todo: do it side server
		$("#ad_user_type_1").attr('checked', 'checked');
		$("#ad_ad_type_1").attr('checked', 'checked');

		// manage validation form		
		$("#add_form").validate({
			errorElement: "p",
			errorClass: "s_error_msg",
			errorPlacement: function(error, element) {
				error.insertAfter(element);
			},
			highlight: function(element, errorClass, validClass) {
				$(element).addClass("error_element").removeClass(validClass);
				$(element).parent("div").addClass("s_error_row");
			},
			unhighlight: function(element, errorClass, validClass) {
				$(element).removeClass("error_element").addClass(validClass);
				$(element).parent("div").removeClass("s_error_row");
			},
			rules: {
				"ad[city][area]": {
					required: true,
				},
				"ad[city][name]": {
					required: true,
				},
				"ad[city][quarter][name]": {
					minlength: 2,
				},
				"ad[category]": {
					required: true,
				},
				"ad[user_type]": {
					required: true,
				},
				"ad[ad_type]": {
					required: true,
				},
				"ad[user_name]": {
					required: true,
					minlength: 2,
				},
				"ad[user_email]": {
					required: true,
				  email: true
				},
				"ad[user_phone]": {
					minlength: 4,
					digits: true,
				},
				"ad[user_password][first]": {
					required: true,
					rangelength: [3, 12]					
				},
				"ad[user_password][second]": {
					required: true,
					rangelength: [3, 12],
					equalTo: '#ad_user_password_first'
				},
				"ad[title]": {
					required: true,
					minlength: 2,
				},
				"ad[description]": {
					required: true,
					minlength: 5,
				},
				"ad[price]": {
					digits: true,
				},
			},
      messages: {
        "ad[city][area]": {
          required: "Veuillez choisir une région.",
        },
        "ad[city][name]": {
          required: "Veuillez choisir une ville.",
        },
        "ad[city][quarter][name]": {
          minlength: jQuery.format("Veuillez saisir au moins {0} caractères !"),
        },
        "ad[category]": {
          required: "Veuillez choisir une catégorie.",
        },
        "ad[user_type]": {
          required: "Veuillez choisir un type d'annonceur.",
        },
        "ad[ad_type]": {
          required: "Veuillez choisir un type d'annonce.",
        },
        "ad[user_name]": {
          required: "Veuillez choisir un nom.",
          minlength: jQuery.format("Veuillez saisir au moins {0} caractères !"),
        },
        "ad[user_email]": {
          required: "Veuillez saisir une addresse email.",
          email: "L'email doit etre au format \"nom@nomsite.fr\""
        },
        "ad[user_phone]": {
        	minlength: jQuery.format("Veuillez saisir au moins {0} chiffres !"),
          digits: "Veuillez saisir uniquement des chiffres.",
        },
        "ad[user_password][first]": {
          required: "Veuillez choisir un mot de passe.",
          rangelength: jQuery.validator.format("Le mot de passe doit etre compris entre {0} et {1} caractères.")
        },
        "ad[user_password][second]": {
          required: "Veuillez confirmer le mot de passe.",
          rangelength: jQuery.validator.format("Le mot de passe doit etre compris entre {0} et {1} caractères."),
          equalTo: 'Les mots de passe ne sont pas identiques'
        },
        "ad[title]": {
          required: "Veuillez saisir le titre de l'annonce",
          minlength: jQuery.format("Veuillez saisir au moins {0} caractères !"),
        },
        "ad[description]": {
          required: "Veuillez saisir la description de l'annonce.",
          minlength: jQuery.format("Veuillez saisir au moins {0} caractères !"),
        },
        "ad[price]": {
          digits: "Veuillez saisir uniquement des chiffres.",
        },
      }
		});
			

			// manage picture upload
    		var $container = $('#ad_picture_ads');
			
			// id element picture
			var idPictureAd = 0;
    		$('#add_picture').click(function() {
        		addPicture();
   			 });

			$('input[type=file]').live('change' ,function(){

				var fileFieldId = $(this).attr('id'),
					fileField 	= document.getElementById(fileFieldId),
					picture     = fileField.files[0];

			    if (picture.type.match('image.*') && (typeof window.FileReader !== 'undefined')) {
			       
			        // new instance FileReader for manage onload
			        reader = new FileReader();
			        reader.onload = function (event) {

				        var img = document.createElement('img');
				        img.src = event.target.result;
				        
				        var fileFieldIdSelector = '#'+fileFieldId;

				        // remove precedent picture load
				        $(fileFieldIdSelector).next('img').remove();

				        // display picture load
				        $(img).insertAfter(fileFieldIdSelector);
			        }
			   
			        reader.readAsDataURL(picture);   
			    }
			 });

    		function addPicture() {
        		var index = $container.children().length;
        		if (index == 3) {
        			alert('Vous ne pouvez pas ajouter plus de 3 photos. Merci.');
        			return;
        		}

        		var $newContainerPicture = $($container.attr('data-prototype').replace(/__name__/g, idPictureAd));

        		var $removePicture = $('<button type="button" class="s_button_3">X supprimer cette photo</button>');

       			$container.append(
           			 $($newContainerPicture).append($removePicture)
       			);

       			$removePicture.click(function(e) {
        			e.preventDefault();
			        $(this).parent('div').remove();
			    });
       	
       			$('#ad_picture_ads_'+ idPictureAd + '_file').rules('add', {required: true, messages: { required: "Veuillez télécharger la photo ou Supprimer le champ."}});
       			idPictureAd++;
  			}


			// manage autocomplete on quarter name field
			$("#ad_city_quarter_name").focus(function () {
				$.ajax({
	        		type: 'POST',
	            	dataType: 'json',
	            	url:  '{{ path('quarter_in_city_get') }}',
	            	data: 'idCity='+ $("select#ad_city_name option:selected").val(),
	            	success: function(response)
	            	{
	            		$("#ad_city_quarter_name").autocomplete({
							source: response
						});
	        	    },
				});
			});

			// manage display city list and quarter text
			var idArea = $("select#ad_city_area option:selected").val();
			if (!idArea) {
				hideCityAndQuarterField(idArea);
			} else {
				fillCityField(idArea);	
			};
			$("select#ad_city_area").change(function() {
				var idArea = $(this).val();
				if (!idArea) {
					hideCityAndQuarterField(idArea);
				} else {
					fillCityField(idArea);	
				}	
			});

		});
	
	/**
	 * [fillCityField Hydrate city field]
	 * @param  {[type]} $idArea [id area]
	 */
	function fillCityField(idArea) {
			// get list city
			$('.s_form_add_name, .s_form_add_quarter').show();
			$.ajax({
	        	type: 'POST',
	            dataType: 'json',
	            url:  '{{ path('city_in_area_get') }}',
	            data: 'areaId=' + idArea,
	            success: function(response)
	            {
	            	$('select#ad_city_name').find("option").remove();
	                $.each(response, function(i, item) {
	                $('#ad_city_name').append(new Option(item, i));
	             	});
	            },
			});
	}

	/**
	 * [hideCityAndQuarterField Hide city and quarter field depending arear value]
	 * @param  {[type]} $idArea [id area]
	 */
	function hideCityAndQuarterField($idArea) {
		$('.s_form_add_name, .s_form_add_quarter').hide();	
	}
	</script>
 {% endblock body_js %}