{% if adProperties[ad.Id].pictures %}
	{% set thumbnailSrc = "{{ asset('uploads/pictures/' ~ adProperties[ad.Id].pictures.0.Path)}}" %}
{% else %}
	{% set thumbnailSrc = "images/product_180x180.jpg" %}
{% endif %}

<div>
	<div class="grid_3 alpha">
		<a class="s_thumb" href="{{ path('ad_show', {'idAd': ad.Id}) }}">
			<img alt="{{adProperties[ad.Id].title}}" title="{{adProperties[ad.Id].title}}" width="180px" height="180px" 
		
			{% if adProperties[ad.Id].pictures %}
				src = "{{ asset('uploads/pictures/' ~ adProperties[ad.Id].pictures.0.Path)}}"
			{% else %}
				src="images/product_180x180.jpg"
			{% endif %}
			>
		</a>
	</div>
	<div class="grid_6 omega">
		<h3>
			<a href="{{ path('ad_show', {'idAd': ad.Id}) }}">{{adProperties[ad.Id].title}}</a>
		</h3>
		<div>Date 
			{% if adProperties[ad.Id].isPublishToday %}
				Aujourd'hui
			{% elseif adProperties[ad.Id].isPublishYesterDay %}
				Hier
			{% else %}
				{{ adProperties[ad.Id].publishedDate|date("d") }} {{ adProperties[ad.Id].publishMonth }}
			{% endif %}
		</div>
		<div>Heure {{ adProperties[ad.Id].publishedDate|date("H:i") }}</div>
		<div>Photo</div>
		<div>Localisation: {{adProperties[ad.Id].nameArea}} {{adProperties[ad.Id].nameCity}} {{adProperties[ad.Id].nameQuarter}}</div>
		<div>Categorie: {{adProperties[ad.Id].titleCategory}}</div>
		<div>Prix: {{adProperties[ad.Id].price}}</div>
	</div>		
</div>