  <a itemprop="url" 
  	{% if adProperties[ad.Id].idAdType == 1 %} 
  		href="{{ path('ad_show_offers', {'idAd': ad.Id, 'slugCategory': adProperties[ad.Id].slugCategory,'slugAd': adProperties[ad.Id].slugAd}) }}" 
  	{% else %}
  	  href="{{ path('ad_show_demands', {'idAd': ad.Id, 'slugCategory': adProperties[ad.Id].slugCategory,'slugAd': adProperties[ad.Id].slugAd}) }}" 
  	{% endif %}
  title="{{adProperties[ad.Id].title}}">
			<img class="grid_3 alpha" itemprop="image"  alt="{{adProperties[ad.Id].title}}" title="{{adProperties[ad.Id].title}}" width="150px" height="150px" 
		
			{% if adProperties[ad.Id].pictures %}
				src = "{{ asset('uploads/pictures/' ~ adProperties[ad.Id].pictures.0.Path)}}"
			{% else %}
				src="{{ asset('bundles/ledjassaads/images/pas-d-image-dispo.jpg')}}"
			{% endif %}
			>
	<div class="grid_6 omega">
		<h3 itemprop="name">
			{{adProperties[ad.Id].title}}
		</h3>
		{% if adProperties[ad.Id].price %}
		<p class="s_price s_promo_price">
			<span itemprop="price">{{adProperties[ad.Id].price}}</span>
			<span class="s_currency s_before">F CFA</span>
		</p>
		{% endif %}
		<p class="s_description">
			<span class="s_category">{{adProperties[ad.Id].titleCategory}}</span>
			<span itemprop="availableAtOrFrom" itemscope itemtype="http://schema.org/Place" class="s_location">
				<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="addressRegion">{{adProperties[ad.Id].nameArea}}</span> / 
					<span itemprop="addressLocality">{{adProperties[ad.Id].nameCity}}</span> 
					{% if adProperties[ad.Id].nameQuarter %}
					- {{adProperties[ad.Id].nameQuarter}}
					{% endif %}
					<meta itemprop="addressCountry" content="CI">
				</span>
			</span>
		</p>
		<span class="s_date">
			{% if adProperties[ad.Id].isPublishToday %}
				Aujourd'hui
			{% elseif adProperties[ad.Id].isPublishYesterDay %}
				Hier
			{% else %}
				{{ adProperties[ad.Id].publishedDate|date("d") }} {{ adProperties[ad.Id].publishMonth }}
			{% endif %}
			à {{ adProperties[ad.Id].publishedDate|date("H:i") }}
			<time datetime="{{ adProperties[ad.Id].publishedDate|date("Y-m-d H:i") }}" pubdate>
		</span>
	</div>
	</a>		