  <a itemprop="url" href="{{ path('ad_show', {'idAd': ad.Id, 'slugCategory': adProperties[ad.Id].slugCategory,'slugAd': adProperties[ad.Id].slugAd}) }}" title="{{adProperties[ad.Id].title}}">
			<img class="grid_3 alpha" itemprop="image"  alt="{{adProperties[ad.Id].title}}" title="{{adProperties[ad.Id].title}}" width="150px" height="150px" 
		
			{% if adProperties[ad.Id].pictures %}
				src = "{{ asset('uploads/pictures/' ~ adProperties[ad.Id].pictures.0.Path)}}"
			{% else %}
				src="images/product_180x180.jpg"
			{% endif %}
			>
	<div class="grid_6 omega">
		<h3 itemprop="name">
			{{adProperties[ad.Id].title}}
		</h3>
		{% if adProperties[ad.Id].price %}
		<p itemprop="price" class="s_price s_promo_price">
			{{adProperties[ad.Id].price}}
			<span class="s_currency s_before">F CFA</span>
		</p>
		{% endif %}
		<p class="s_description">
			<span class="s_category">{{adProperties[ad.Id].titleCategory}}</span>
			<span class="s_location">{{adProperties[ad.Id].nameArea}} / {{adProperties[ad.Id].nameCity}} 
				{% if adProperties[ad.Id].nameQuarter %}
				- {{adProperties[ad.Id].nameQuarter}}
				{% endif %}
			</span>
		</p>
		<span class="s_date">
			{% if adProperties[ad.Id].isPublishToday %}
				Aujourd'hui
			{% elseif adProperties[ad.Id].isPublishYesterDay %}
				Hier
			{% else %}
				{{ adProperties[ad.Id].publishedDate|date("d") }} {{ adProperties[ad.Id].publishMonth }}
			{% endif %}
			à {{ adProperties[ad.Id].publishedDate|date("H:i") }}
		</span>
	</div>
	</a>		