{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/ledjassaads/js/jquery-1.8.1.min.js')}}"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			// manage picture upload
			var $containerFile = $('#picture_ads');
    		var $container = $('#ad_edit_picture_ads');
		
    		$('#add_picture').click(function() {
        		addPicture();
   			 });

			$('input[type=file]').live('change' ,function(){

				var fileFieldId = $(this).attr('id'),
					fileField 	= document.getElementById(fileFieldId),
					picture     = fileField.files[0];

			    if (picture.type.match('image.*') && (typeof window.FileReader !== 'undefined')) {
			       
			        // new instance FileReader for manage onload
			        reader = new FileReader();
			        reader.onload = function (event) {

				        var img = document.createElement('img');
				        img.src = event.target.result;
				        
				        var fileFieldIdSelector = '#'+fileFieldId;

				        // remove precedent picture load
				        $(fileFieldIdSelector).next('img').remove();

				        // display picture load
				        $(img).insertAfter(fileFieldIdSelector);
			        }
			   
			        reader.readAsDataURL(picture);   
			    }
			 });

    		function addPicture() {
        		var index = $container.children().length + $containerFile.children().length;
        		var $newContainerPicture = $container.attr('data-prototype').replace(/__name__/g, index);

        		var $removePicture = $('<a href="#">Supprimer cette photo</a>');

       			$containerFile.append(
           			 $($newContainerPicture).append($removePicture)
       			);

       			$removePicture.click(function(e) {
        			e.preventDefault();
			        $('#ad_edit_picture_ads_' + index).parent('div').remove();
			    });
  			}

  			// manage delete picture
			$(".picture_delete").focus(function () {
				$.ajax({
	        		type: 'POST',
	            	dataType: 'json',
	            	url:  '{{ path('picture_delete') }}',
	            	data: 'pictureId='+ $(this).attr('id'),
	            	success: function(response)
	            	{	
	      				$('#'+response).parent('li').remove();
	        	    },
				});
			});

			//manage submit form to prevent empty value in input file
			$('form').live('submit' ,function(){

				$.each($('input[type=file]'), function(index, inputFile) { 
					if ($(inputFile).attr('value') == '') {
				    	$(inputFile).attr('disabled', 'disabled');
					};

				});
			});
		})
	</script>
{% endblock %}
{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block body_container_main %}
<h3>Modification de l'annonce </h3>
<h4>{{ad.title}} </h4>
<form action="{{ path('ad_edit', {'idAd': ad.id}) }}" method="post" {{ form_enctype(form) }}>
	
	{{ form_errors(form) }}

	{{ form_row(form.description) }}
	{{ form_row(form.price) }}

	<ul>
		{% for picture in ad.pictures %}
      		<li>
      			<img src="{{ asset('uploads/pictures/' ~ picture.Path)}}"/>
      			<a href="#" class="picture_delete" id="{{ picture.Id }}">Supprimer</a>
      		</li>
      	{% endfor %}
	</ul>
	<div style="display:none">
		{{ form_row(form.picture_ads) }}
	</div>

	<div id="picture_ads">
	</div>

	<a href="#" id="add_picture">Ajouter une photo</a>

	{{ form_row(form.user_password) }}

	{{ form_rest(form) }}

	<input type="submit" value="Valider" />
</form>
{% endblock %}