<h3>Toutes les annonces</h3>
{% for ad in ads %}
	<ul>
		<li>Date {{ ad.publishedDate|date("d") }} {{ ad.publishMonth }}</li>
		<li>Heure {{ ad.publishedDate|date("H:i") }}</li>
		<li>Photo</li>
		<li>Nom : {{ad.title}}</li>
		<li>Localisation: {{ad.nameArea}} {{ad.nameCity}} {{ad.nameQuarter}}</li>
		<li>Categorie: {{ad.titleCategory}}</li>
		<li>Prix: {{ad.price}}</li>
		<li><a href="{{ path('ad_show', {'idAd': ad.id}) }}">Consulter l'annonce</a></li>
	</ul>
{% endfor %}