<h3>Gérer votre annonce</h3>
<ul>
	<li>Titre: {{ad.title}}</li>
	<li>Mise en ligne la "date"</li>
	<li>Prix: {{ad.price}}</li>
	<li>Modifier votre texte, photo ou prix :</li>
	<li>Suprimer votre annonce :</li>
<ul>

<form action="{{ path('ad_manage', {'idAd': ad.id}) }}" method="post" {{ form_enctype(form) }}>

	{{ form_errors(form) }}
	{{ form_row(form.user_password) }}

	{{ form_rest(form) }}
	
	<input type="submit" value="Valider" />
</form>