{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block head_title %}Mot de passe oublié{% endblock %}
{% block head_meta_site_info %}
  <meta content="noindex,follow" name="robots">
{% endblock %}
{% block body_container_pre_intro %}
	<div class="s_border"></div>
{% endblock %}
{% block body_container_main %}
<div id="content" class="container_16">
	<h2>Mot de passe<span class="s_secondary_color"> oublié</span></h2>
	<h4>Veuillez saisir votre adresse email pour récupérer votre mot de passe.</h4>

	<form action="{{ path('password_forgot', {'idAd': ad.id}) }}" id="password_forgot_form" method="post" }}>

		{{ form_errors(form) }}

		<div class="s_add_ad_block">
			{{ form_row(form.user_email) }}
			{% if isInvalidEmail is defined %}<span class="s_error_msg s_invalid_email">L'email ne corresond pas.</span>{% endif %}
			{{ form_rest(form) }}
			
			<button class="s_button_1 s_main_color_bgr" type="submit"/>
   				<span class="s_text">Valider</span>
 			</button>
		</div>
	</form>
</div>
{% endblock %}
{% block body_js %}
	{{ parent() }}
	<script type="text/javascript">

		$(document).ready(function() {
			// manage validation form		
			$("#password_forgot_form").validate({
				errorElement: "p",
				errorClass: "s_error_msg",
				errorPlacement: function(error, element) {
					error.insertAfter(element);
				},
				highlight: function(element, errorClass, validClass) {
					$(element).addClass("error_element").removeClass(validClass);
					$(element).parent("div").addClass("s_error_row");
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).removeClass("error_element").addClass(validClass);
					$(element).parent("div").removeClass("s_error_row");
				},
				rules: {
					"password_forgot[user_email]": {
						required: true,
						email: true
					},
				},

	      		messages: {
	        		"password_forgot[user_email]": {
	          			required: "Veuillez saisir le mot de passe.",
	          			email: "L'email doit etre au format \"nom@nomsite.fr\""
	        		},
	        	}
			});
			});
	</script>
{% endblock body_js %}