{% extends 'LeDjassaAdsBundle::layout.html.twig' %}

{% block head_meta_description %}
  {{categorieKeySearch}} {{areaKeySearch}} {{titleKeySearch}}
{% endblock %}

{% block head_meta_keywords %}
  {{categorieKeySearch}} {{areaKeySearch}} {{titleKeySearch}}
{% endblock %}

{% block head_title %}
  {{categorieKeySearch}} {{areaKeySearch}} {{titleKeySearch}}
{% endblock %}

{% block body_container_intro %}
	{% render "LeDjassaAdsBundle:Ad:searchForm" %}
{% endblock %}
{% block body_container_main %}
<section id="content" class="container_12" role="main">
<div class="clear" style="opacity: 1;"></div>
<div id="category" class="grid_9">
	<div class="s_listing s_list_view clearfix">
		{% for ad in ads %}
			<article itemscope itemtype="http://schema.org/Offer" class="s_item clearfix" style="opacity: 1;">
				{% include 'LeDjassaAdsBundle:Ad:adDetails.html.twig' with {'ad': ad} %}
			</article>
			<div class="clear" style="opacity: 1;"></div>
		{% endfor %}
	</div>
	{{ ads.render()|raw }}
</div>
<div class="clear" style="opacity: 1;"></div>
<div id="right_col" class="grid_3"></div>
</section>
{% endblock %}