{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block head_css %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'bundles/ledjassaads/css/slider.css'  
	 %}
	 <link media="all" rel="stylesheet" type="text/css" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block body_container_intro %}
	breadcrumbs navigation
{% endblock %}
{% block body_container_main %}
<div id="content" class="product_view container_12">
	<div id="product" class="grid_12">

		<h3>{{ad.title}}</h3>

		<div class="publish_by">
		Mise en ligne par {{ad.userName}}
		{% if ad.isPublishToday %}
				aujourd'hui
			{% elseif ad.isPublishYesterDay %}
				hier
			{% else %}
				le {{ ad.publishedDate|date("d") }} {{ ad.publishMonth }}
			{% endif %}
			à {{ ad.publishedDate|date("H:i") }}
		</div>

		<ul id="carousel">
			{% if ad.pictures %}
				{% for picture in ad.pictures %}
	      	<li>
	      		<img src="{{ asset('uploads/pictures/' ~ picture.Path)}}"  width="400px" height="330px"/>
	      	</li>
	      {% endfor %}
	    {% else %}
	    	  <li>
	      		<img src="{{ asset('bundles/ledjassaads/images/pas-d-image-dispo.jpg')}}"  width="320px" height="300px"/>
	      	</li>
	    {% endif %}
    </ul>
		</div>
		<div id="product_info" class="grid_4">
			<span class="s_info_price">
				<span class="s_info_title">Prix:</span>
				<span class="s_info_price_value">{{ad.price}} F CFA</span>
			</span>
			<span class="s_info_location">
				<span class="s_info_title">Lieu:</span> 
			  <span class="s_info_location_value">{{ad.nameArea}} / {{ad.nameCity}} 
			  {% if ad.nameQuarter %}
			  - {{ad.nameQuarter}}
			  {% endif %}
			  </span> 
			</span>
			<span class="s_info_description">
				<span class="s_info_title">Description: </span>
				<span class="s_info_description_value">{{ad.description}}</span> 
			  </span>
			<div class="s_description_show">
				Localisation: {{ad.nameArea}} {{ad.nameCity}}
				Categorie: {{ad.titleCategory}}
				Nom utilisateur: {{ad.userName}}
				Email utilisateur: {{ad.userEmail}}
				Téléphone utilisateur: {{ad.userPhone}}
				<a href="{{ path('ad_user_send_email', {'idAd': ad.id}) }}">Envoyer un mail</a>
				<a href="{{ path('ad_edit', {'idAd': ad.id}) }}">Modifier</a>
				<a href="{{ path('ad_delete', {'idAd': ad.id}) }}">Supprimer</a>
			</div>
		</div>

  </div>
<div>
{% endblock %}
{% block body_js %}
  {{ parent() }}
    {% javascripts 
    'bundles/ledjassaads/js/jquery.infinitecarousel3.js' 
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    	$('#carousel').infiniteCarousel({
    		imagePath: "{{ asset('bundles/ledjassaads/images/')}}",
				transitionSpeed:450,
				internalThumbnails: false,
				displayProgressRing: false, 
				thumbnailType: 'images',
				customClass: 'myCarousel',
				progressRingBackgroundOn: false,
				autoPilot: true,
				prevNextInternal: false,
				autoHideCaptions: false
			});
    </script>
 {% endblock body_js %}