</h3>Voir l'annonce</h3>
<ul>
	<li>Date 
		{% if ad.isPublishToday %}
			Aujourd'hui
		{% elseif ad.isPublishYesterDay %}
			Hier
		{% else %}
			{{ ad.publishedDate|date("d") }} {{ ad.publishMonth }}
		{% endif %}
	</li>
	<li>Photo</li>
	<li>Titre : {{ad.title}}</li>
	<li>Localisation: {{ad.nameArea}} {{ad.nameCity}}</li>
	<li>Categorie: {{ad.titleCategory}}</li>
	<li>Prix: {{ad.price}}</li>

	<li>Description : {{ad.description}}</li>
	<li>Nom utilisateur: {{ad.userName}}</li>
	<li>Email utilisateur: {{ad.userEmail}}</li>
	<li>Téléphone utilisateur: {{ad.userPhone}}</li>
	<li><a href="{{ path('ad_edit', {'idAd': ad.id}) }}">Modifier</a></li>
	<li><a href="{{ path('ad_delete', {'idAd': ad.id}) }}">Supprimer</a></li>
</ul>