<section>
	<head>
		<h1>Verifier le contenu de votre annonce</h1>
	</head>

	Région: {{adProperties.nameArea}}<br/>

	Ville: {{adProperties.nameCity}}<br/>

	Quartier: <br/>
 
	Catégorie: {{adProperties.titleCategory}}<br/>

	Type d'annonce: {{adProperties.nameAdType}}<br/>

	Nom: {{user.username}}<br/>

	Email: {{user.email}}<br/>

	Téléphone: {% if user.phone is defined %} 
			   	{{user.phone}}
			   {% endif %}<br/>

	Titre de l'annonce: {{adProperties.title}}<br/>

	Description de l'annonce: {{adProperties.description}}<br/>

	Prix de l'annonce: {{adProperties.price}}<br/>

	Photos d'illustration: <br/>

	{% render "LeDjassaUserBundle:Registration:register" with { 'username' : user.username, 'email': user.email, 'phone' : user.phone } %}

</section> 