{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block head_title %}Contactez l'annonceur{% endblock %}
{% block head_meta_site_info %}
  <meta content="noindex,follow" name="robots">
{% endblock %}		
{% block body_container_pre_intro %}
	<div class="s_border"></div>
{% endblock %}
{% block body_container_main %}
<div id="content" class="container_16">
<h2>Contactez<span class="s_secondary_color"> l'annonceur</span></h2>
<h3>{{ad.title}}</h3>
		Mise en ligne
			{% if ad.isPublishToday %}
				Aujourd'hui
			{% elseif ad.isPublishYesterDay %}
				Hier
			{% else %}
				{{ ad.publishedDate|date("d") }} {{ ad.publishMonth }}
			{% endif %}
			à {{ ad.publishedDate|date("H:i") }}
			<time datetime="{{ ad.publishedDate|date("Y-m-d H:i") }}" pubdate>
		par {{ad.userName}}
<h4>Pensez à indiquer vos coordonnées téléphoniques pour que l'annonceur puisse vous contacter facilement.<br/>
Tout démarchage publicitaire ou spamming sera éliminé. </h4>
<form action="{{ path('contact') }}" id="contact_ad_user_form" method="post" {{ form_enctype(form) }}>
	
	{{ form_errors(form) }}
	<div class="s_add_ad_block">
		{{ form_row(form.name) }}
		{{ form_row(form.email) }}
		{{ form_row(form.message) }}

		{{ form_rest(form) }}

		<button class="s_button_1 s_main_color_bgr" type="submit"/>
	   		<span class="s_text">Envoyer</span>
	 	</button>
	</div>
</form>
</div>
{% endblock %}
{% block body_js %}
	{{ parent() }}
	<script type="text/javascript">

		$(document).ready(function() {
			// manage validation form		
			$("#contact_ad_user_form").validate({
				errorElement: "p",
				errorClass: "s_error_msg",
				errorPlacement: function(error, element) {
					error.insertAfter(element);
				},
				highlight: function(element, errorClass, validClass) {
					$(element).addClass("error_element").removeClass(validClass);
					$(element).parent("div").addClass("s_error_row");
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).removeClass("error_element").addClass(validClass);
					$(element).parent("div").removeClass("s_error_row");
				},
				rules: {
					"ad_user_send_email[name]": {
						required: true,
					},
					"aad_user_send_email[email]": {
						required: true,
						email: true
					},
					"ad_user_send_email[message]": {
						required: true,
					},
					"ad_user_send_email[phone]": {
						minlength: 4,
						digits: true,
					},
				},

	      		messages: {
	        		"ad_user_send_email[name]": {
	          			required: "Veuillez saisir un nom.",
	        		},
	        		"ad_user_send_email[email]": {
						required: "Veuillez insérer une adresse email.",
						mail: "L'email doit etre au format \"nom@nomsite.fr\""
					},
					"ad_user_send_email[message]": {
						required: "Veuillez rédiger un texte.",
					},
					"ad_user_send_email[phone]": {
					    minlength: jQuery.format("Veuillez saisir au moins {0} chiffres !"),
           			 	digits: "Veuillez saisir uniquement des chiffres.",
					},
	        	}
			});
			});
	</script>
{% endblock body_js %}